.about__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 2rem;
}


.language-skills {
  margin-top: 2rem;
}

.language-skill {
  margin-bottom: 1rem;
}

.language-skill {
  background: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-primary);
  padding: 8px;
  margin: 20px 0;
}

.language-name {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

.progress-bar {
  width: 100%;
  background-color: var(--color-light);
  height: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.3rem var(--color-primary);
  /* Adjust shadow properties */
  font-family: "Segoe UI Emoji", sans-serif;
}

.progress {
  background-color: var(--color-primary);
  height: 100%;
  transition: width 1s ease-in-out;
}

.language-flag {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about__right h2,
h3 {
  text-align: center;
  margin: 1rem auto;
}

.about__right p {
  margin-bottom: 0.8rem;
}

.about__right .btn {
  margin: 2.5rem auto 0;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .about__right h2 {
    text-align: center;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .language-skills {
    margin-top: 1.5rem;
  }

  .about__right .btn {
    margin-top: 1.5rem;
  }
}