.about {
  height: 80%;

  .about-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;

    .about-content-personalWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .personal-data-section {
        width: 55%;
        height: 100%;
      }

      h3 {
        margin-bottom: 10px;
        font-size: 2rem;
        color: var(--selected-theme-main-color);
        font-weight: 700;
      }

      p {
        color: var(--selected-theme-sub-text-color);
        font-size: 1.2rem;
        padding: 4px 0;
        line-height: 1.5rem;
        border-bottom: 1px solid var(--selected-theme-main-color);
      }

      .personal-data {

        p {
          display: flex;
          justify-content: space-between;
          font-family: "Open Sans", sans-serif;

          .underlined-bold-text {
            letter-spacing: 0.5px;
            text-decoration: underline;
            font-weight: bold;
            color: var(--selected-theme-main-color);
          }
        }
      }
    }

    &-serviceWrapper {
      height: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-innerContent {
        width: 40vmin;
        height: 40vmin;
        position: relative;
        border-radius: 50%;
        border: 2px solid var(--selected-theme-main-color);
        background: radial-gradient(150px,
            var(--selected-theme-main-color),
            transparent 90%);
        animation: rotation 20s linear 1s infinite;

        div:nth-child(1) {
          position: absolute;
          top: -11%;
          left: 41.5%;
        }

        div:nth-child(2) {
          position: absolute;
          top: 41.5%;
          right: -8%;
        }

        div:nth-child(3) {
          position: absolute;
          bottom: -11%;
          left: 41.5%;
        }

        div:nth-child(4) {
          position: absolute;
          top: 41.5%;
          left: -8%;
        }
      }
    }
  }
}

.underlined-bold-text {
  letter-spacing: 0.5px;
  text-decoration: underline;
  font-weight: bold;
  color: var(--selected-theme-main-color);
}

@keyframes rotation {
  25% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 1020px) {

  .about {
    .about-content {
      .about-content-personalWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;



        .about-text-section,
        .personal-data-section {
          flex: 1;
          height: 100%;
        }

        .personal-data-section {
          width: 60%;
          max-width: 350px;
        }

        .about-text-section {
          p {
            line-height: 2rem;

          }
        }
      }

      .about-content-serviceWrapper {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about {
    .about-content {
      flex-direction: column;

      .about-content-personalWrapper {
        flex-direction: column;
        gap: 20px;

        h3 {
          margin-bottom: 10px;
          font-size: 1.6rem;
          color: var(--selected-theme-main-color);
          font-weight: 700;
        }

        p {
          color: var(--selected-theme-sub-text-color);
          font-size: 1.2rem;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--selected-theme-main-color);
        }

        .personal-data-section {
          flex: 1;
          height: 100%;
          width: 60%;

        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .about {
    .about-content {
      .about-content-personalWrapper {
        .personal-data-section {
          height: 100%;
          width: 100%;

        }
      }
    }
  }
}