.home {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80%;
    position: relative;

    .home-text-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;

      h1 {
        color: var(--selected-theme-main-color);
        margin: 0;
        font-weight: 800;
        position: relative;
        text-align: center;
        font-family: "Roboto", serif;
        font-size: 4rem;
        word-wrap: break-word;
      }
    }

    .contact-me {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;


      .contact-me-buttons-wrapper {
        display: flex;
        gap: 10px;

        button,
        a {
          cursor: pointer;
          padding: 8px;
          font-size: 1.6rem;
          background: transparent;
          color: var(--selected-theme-sub-text-color);
          border: 2px solid var(--selected-theme-sub-text-color);
          border-radius: 12px;
          font-weight: 800;
          text-decoration: none;
          text-align: center;

          &:hover {
        
            background: var(--selected-theme-main-color);
          }
        }
      }

      .contact-me-social-wrapper {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;


        svg,
        span {
          color: var(--selected-theme-main-color);
          font-size: 32px;
          font-weight: 800;

        }

        svg {
          cursor: pointer;
          color: var(--selected-theme-sub-text-color);
          font-weight: 800;

          &:hover {
            color: var(--selected-theme-main-color);
          }
        }
      }
    }
  }

  main:before {
    content: "";
    animation: animate 12s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
  }

}

@media only screen and (max-width: 550px) {
  .home {
    flex-direction: column;
    min-height: 100vh;
    height: auto;

    main {
      width: 100%;
      height: 100%;

      .home-text-wrapper {
        h1 {
          font-size: 3rem;
          line-height: 5rem;
        }
      }

      .contact-me {
        padding: 12px;

        .contact-me-buttons-wrapper {

          button,
          a {
            font-size: 1.1rem;
          }
        }

        .contact-me-social-wrapper {

          svg,
          span {
            color: var(--selected-theme-main-color);
            font-size: 1.2rem;
            font-weight: 800;

          }
        }
      }
    }


  }


}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  .home {
    .home-text-wrapper {
      h1 {
        font-size: 4rem;
        line-height: 6rem;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
  .home {
    .home-text-wrapper {
      h1 {
        font-size: 3.5rem;
        line-height: 4rem;
      }
    }
  }
}

@keyframes animate {

  0%,
  100% {
    background-image: url("../../assets/pics/bg\ \(1\).jpg");
  }

  33% {
    background-image: url("../../assets/pics/bg\ \(2\).jpg");
  }

  66% {
    background-image: url("../../assets/pics/bg\ \(3\).jpg");
  }


}