.header {
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  min-height: calc(100vh - 5rem);
  background: var(--color-white);
  transition: var(--transition);
  padding: 20px 0;


  .welcome-heading {
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .header-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 90%;

    .header-left-part {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .header__profile {
        width: 16rem;
        border-radius: 9rem 9rem 2rem 2rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .welcome-container {
    border-radius: 10px;
    padding: 20px;
    background: var(--color-white);
    box-shadow: 10px 10px 20px var(--color-primary);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .welcome-text {
      font-size: 1rem;
    }

    .header__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      animation: fadeIn 2s forwards;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      a {
        justify-content: center;
        align-items: center;

        &:hover {
          background: white;
        }
      }
    }
  }

  h1,
  h2 {
    text-align: center;
  }


}

@media screen and (max-width: 1024px) {
  .header {
    height: auto;

    .header-main-content {
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .header-left-part {
        .header__profile {
          border-radius: 0;
        }
      }

      .welcome-container {
        width: 100%;
      }
    }

    .header__buttons {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header-main-content {
      width: 90%;

      .header-left-part {
        .header__profile {
          border-radius: 0;
        }
      }
    }

    .header__buttons {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}