.language-skill {
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow-floating);
    padding: var(--space-xs);
    margin-bottom: var(--space-md);
    overflow: hidden;

    .language-info {
        display: flex;
        align-items: center;
        gap: var(--space-2xs);
        font-weight: bold;
    }

    .progress-bar {
        width: 100%;
        background-color: var(--color-light);
        height: var(--language-progress-height);
        border-radius: var(--border-radius-3);
        box-shadow: var(--shadow-soft);

        .progress {
            background-color: var(--color-primary);
            height: 100%;
            transition: width 1s ease-in-out;
            border-radius: var(--border-radius-3);
        }
    }
}