.experience {
  padding: 5rem 0;
  background: var(--color-white);

  .experience-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-black);
  }

  .experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .company-info {
      display: flex;
      align-items: center;
      gap: 20px;

      .company-info__logo img {
        height: 200px;
        border-radius: 50%;
        box-shadow: 0px 4px 10px var(--color-primary);
      }

      .company-info__details {
        flex: 1;

        p {
          margin-bottom: 1rem;
          color: var(--color-dark);

          span {
            font-weight: bold;
            color: var(--color-primary);
          }
        }

        a {
          color: var(--color-primary);
          transition: text-decoration 0.3s ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .job-responsibilities {
      margin: 20px 0;
      font-weight: bold;
      color: var(--color-dark);
      font-size: 1.2rem;
    }

    .experience-card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  .experience-card {
    width: 300px;
    background: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--color-primary);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      background-color: var(--color-white);
    }

    .experience-card__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      background-color: var(--color-primary);
      color: #fff;
      border-radius: 10px 10px 0 0;

      svg {
        font-size: 2.5rem;
      }
    }

    .experience-card__details {
      padding: 1.5rem;

      h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: var(--color-primary);
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          margin-bottom: 0.5rem;
          color: var(--color-dark);
          position: relative;
          padding-left: 20px;
          font-size: 14px;
          font-weight: bold;

          &::before {
            content: "\2713";
            position: absolute;
            left: 0;
            color: var(--color-primary);
          }
        }
      }
    }
  }

  // Media Queries
  @media screen and (max-width: 768px) {
    .experience-content {
      .company-info {
        flex-direction: column;
        align-items: center;

        .company-info__details {
          text-align: center;
        }
      }
    }
  }
}