.skills {
  .skills-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;

    .skills-category {
      .skills-category-title {
        color: var(--color-dark);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-bottom: 12px;
      }

      .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        .skill-item {
          background-color: var(--color-white);
          border-radius: 8px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          transition: all 0.3s ease;
          box-shadow: 3px 3px 10px var(--color-primary);
          padding: 15px;

          .skill-info {

            display: flex;
            align-items: center;

            img {
              width: fit-content;
              height: 60px;
              object-fit: cover;
              margin-right: 10px;
            }

            p {
              font-size: 18px;
              font-weight: 600;
              color: var(--color-dark);
              margin: 0;
            }
          }

          .progress-bar {
            height: 20px;
            background-color: var(--color-light);
            margin-top: 14px;
            display: flex;

            .progress {
              background-color: var(--color-primary);
              transition: width 2s ease-in-out;
              height: 100%;
            }
          }

          &:hover {
            transform: translateY(-5px);
            background-color: var(--color-primary);
            box-shadow: 3px 3px 10px var(--color-light);

            p {
              color: white;
            }

            .progress-bar {
              box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
              background-color: var(--color-white);

              .progress {
                background: var(--color-dark);
              }
            }
          }
        }
      }
    }
  }
}