#education {
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  h4 {
    margin: 20px auto;
  }
}

.education__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.university-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  overflow: hidden;
  box-shadow: 3px 3px 10px var(--color-primary);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    background-color: var(--color-light);
  }
}

.university-card__icon img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-2);
  box-shadow: 1px 1px 8px var(--color-primary);
}

.university-card__details {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  h4 {
    margin-bottom: 0.5rem;
    color: var(--color-black);
  }

  p {
    margin: 0.5rem 0;
    color: var(--color-dark);
  }

  a {
    text-decoration: none;
    color: var(--color-primary);
    transition: all 0.3s ease;
    margin: 0 auto;

    &:hover {
      color: var(--color-primary);
    }
  }
}

@media screen and (max-width: 600px) {
  #education {
    padding: 5rem 12px;
  }
}
